    <div 
      class='flex h-screen w-16 flex-col justify-between border-e bg-white fixed right-0 mt-14'
      x-data="sidemenuData()"
      >
      <div>
        <div class='border-t border-gray-100'>
          <div class='px-2'>
            <div class='py-4'>
              <a
                href='#'
                class='t group relative flex justify-center rounded bg-blue-50 px-2 py-1.5 text-blue-700'
                x-on:click.prevent="createNewMemo()"
                >
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect x="0" fill="none" width="24" height="24"></rect> <g> <path d="M21 14v5c0 1.105-.895 2-2 2H5c-1.105 0-2-.895-2-2V5c0-1.105.895-2 2-2h5v2H5v14h14v-5h2z"></path> <path d="M21 7h-4V3h-2v4h-4v2h4v4h2V9h4"></path> </g> </g></svg>

                  <span
                    class='absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white invisible group-hover:visible'
                    >
                    Add
                  </span>
              </a>
            </div>

            <ul class='space-y-1 border-t border-gray-100 py-4'>
              <li>
                <a
                  href='#'
                  class='group relative flex justify-center rounded px-2 py-1.5'
                  @click.prevent.stop="moveSelectedMemo('left')"
                  :class="{ 'bg-gray-500 hover:bg-gray-500': Object.keys($store.memo.multiSelectIndexList).length === 0, 'text-gray-500 hover:bg-gray-50 hover:text-gray-700': Object.keys($store.memo.multiSelectIndexList).length !== 0 }"
                  >
<svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="#000000"></path></g></svg>
                  <span
                      class='absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white invisible group-hover:visible'
                      >
                      Left
                    </span>
                </a>
              </li>

              <li>
                <a
                  href='#'
                  class='group relative flex justify-center rounded px-2 py-1.5'
                  @click.prevent.stop="moveSelectedMemo('right')"
                  :class="{ 'bg-gray-500 hover:bg-gray-500': Object.keys($store.memo.multiSelectIndexList).length === 0, 'text-gray-500 hover:bg-gray-50 hover:text-gray-700': Object.keys($store.memo.multiSelectIndexList).length !== 0 }"
                  >
<svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z" fill="#000000"></path></g></svg>
                  <span
                      class='absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white invisible group-hover:visible'
                      >
                      Right
                    </span>
                </a>
              </li>

              <li>
                <a
                  href='#'
                  class='group relative flex justify-center rounded px-2 py-1.5'
                  @click.prevent.stop="deleteSelectedMemo()"
                  :class="{ 'bg-gray-500 hover:bg-gray-500': Object.keys($store.memo.multiSelectIndexList).length === 0, 'text-gray-500 hover:bg-gray-50 hover:text-gray-700': Object.keys($store.memo.multiSelectIndexList).length !== 0 }"
                  >
<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 14V7C20 5.34315 18.6569 4 17 4H12M20 14L13.5 20M20 14H15.5C14.3954 14 13.5 14.8954 13.5 16V20M13.5 20H7C5.34315 20 4 18.6569 4 17V12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 4L6.5 6.5M9 9L6.5 6.5M6.5 6.5L9 4M6.5 6.5L4 9" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                  <span
                      class='absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white invisible group-hover:visible'
                      >
                      Delete
                    </span>
                </a>
              </li>

            </ul>

          </div>
        </div>
      </div>

    </div>


